{% extends 'base.html.twig' %} {# héritage de base.html.twig #}

{% block title %}Hello MainController!{% endblock %}

{% block stylesheets %}

    <style>
        p{
            color:red
        }
    </style>

{% endblock %}

{% block h1 %}Bonjour{% endblock %}

{% block body %}



    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis animi doloribus, ipsam earum eius excepturi sequi dolores, magnam unde beatae blanditiis facilis expedita facere non vel repudiandae quibusdam tempora et ducimus voluptas asperiores impedit magni rerum. Eligendi, voluptate. Dolorem eum ratione, architecto ullam illo distinctio, nam totam cupiditate porro at itaque dolorum odio! Veritatis, natus possimus. Quam, itaque enim id ea alias aspernatur quae facilis illum odio aperiam perspiciatis nobis quos, fugit quo reiciendis adipisci, laudantium cupiditate iusto ipsam. Molestiae sapiente voluptate quidem tenetur nobis iure cupiditate harum inventore, quod adipisci reprehenderit porro, itaque error, rerum asperiores assumenda odit quis! Velit voluptates quas consequuntur dolore in animi iure est ex voluptatum, natus expedita adipisci perferendis illo, quae, nostrum repellat quod atque ducimus aut? Ipsum ipsa earum quam modi beatae consequuntur accusantium dicta nihil magnam veritatis distinctio, sit tenetur delectus iste molestias minima est, optio odit! Sed deleniti eveniet odio, consequuntur cupiditate provident ducimus similique ipsam facere mollitia voluptatibus vero excepturi sapiente saepe. Aut ex ullam, quam accusantium odio enim voluptate exercitationem dignissimos nostrum? Dolore ad neque, veritatis quam voluptatibus dolorem vitae tenetur eum dignissimos id molestiae veniam sunt magni non in tempora ut, consequatur voluptatum reprehenderit, voluptas eaque aspernatur. Labore praesentium iste cupiditate fugit corporis aperiam consequuntur quidem deleniti magnam nobis aut doloremque blanditiis similique rem, vero ullam quasi quaerat cum nostrum consectetur. Magni, debitis sapiente fugit numquam excepturi voluptatibus dolorum aliquam rem id esse libero tempora doloremque, tenetur vel tempore, incidunt dicta dolores aut voluptate. A, alias modi! Perferendis sapiente animi incidunt, quidem maiores ea tempora repellendus adipisci placeat facere maxime vitae consequatur itaque fuga nihil nam culpa sequi facilis rerum deserunt. Molestias labore assumenda dignissimos corrupti aperiam ex, magnam quasi nam qui incidunt cum eaque voluptatibus, fuga ipsam animi repellendus? Quod provident velit recusandae reiciendis eaque placeat iste perferendis nostrum iure necessitatibus. Atque ex fuga optio mollitia ducimus esse, obcaecati magni dicta amet quo animi? Velit earum doloremque impedit non nostrum libero repellat suscipit facere, quas nisi repellendus sunt eum ratione atque, porro quam provident id? Quam, quasi voluptas. Voluptatem voluptatum, enim nulla molestiae numquam accusamus aliquam velit reiciendis itaque esse amet sapiente voluptate temporibus voluptates nesciunt asperiores, perferendis neque consequuntur error atque aliquid veritatis vero sit ipsam! Nobis voluptas at minima, unde corporis quo dolorum quibusdam vero consequuntur reiciendis nisi distinctio, incidunt aspernatur. Quaerat neque beatae aliquam assumenda autem porro sit, eius quibusdam dolorum totam repudiandae harum optio ipsam dolore, delectus sunt facilis deleniti expedita odio libero nisi. Excepturi dolorum nobis voluptatem ea, delectus, magni saepe atque numquam corporis quam culpa natus laborum perspiciatis ipsam praesentium commodi tempore nostrum, aliquid perferendis? Laudantium quas cumque tempora magni hic dolorem nihil quod quam? Sint animi molestias quia amet nesciunt illum voluptatibus, maxime provident odit doloribus laboriosam velit officia nam est voluptate, pariatur ipsam. Nam minima delectus pariatur minus, tempora at et tempore recusandae, perspiciatis maiores nostrum exercitationem laborum qui excepturi unde fugit quae. Consectetur illo rem totam, perspiciatis pariatur itaque sed impedit, non in delectus necessitatibus maxime a assumenda!</p>


{% endblock %}



{# commentaire

    {{ }} : interpolation : variables et des fonctions twig

    {% %} : commande :  blocks, héritage, condition, for, variable ...

#}